<div class="page-wrapper">
  {{#if icon}}
    {{core/icon-component name=icon class="page-icon"}}
  {{/if}}
  <h2 class="inline page-caption">{{text}}</h2>
  <div class="page-content">{{yield}}</div>
</div>
