<div class="cardStyle">
  <table class="table text-default">
    <thead>
    <tr>
      <th>{{t 'components.sensor-card.column_1'}}</th>
      <th>{{t 'components.sensor-card.column_2'}}</th>
    </tr>
    </thead>
    <tbody>
    {{#each-in sensor.value as |key value|}}
      {{#if (not-eq value null)}}
        {{#link-to "account.sensor" sensor.id (query-params field=key) tagName="tr" class="obd-row clickable"}}
          <td>{{t (concat 'obd.' key)}}</td>
          <td>{{value}}</td>
        {{/link-to}}
      {{/if}}
    {{/each-in}}
    </tbody>
  </table>
</div>
