<div class="site-content">
  {{site-header class="site-header"
                user=user objects=objects
                onLogOut=(action "onLogOutAction")
  }}

  <div class="container site-body">
    {{outlet}}
  </div>

  {{site-footer class="site-footer"}}
</div>