<footer>
  <div class="footerTop">
    <div class="container footerRow">
      <div class="logoWrap">
        {{#link-to "account.index" class="logo"}}
          <img src="/images/logo.svg" alt="">
        {{/link-to}}
      </div>
      <nav class="nav footerNav footerMenu">
        {{#link-to 'landing' class="nav-link footerMenuItem"}}О компании{{/link-to}}
        <a href="#" class="nav-link footerMenuItem">Контакты</a>
        <a href="#" class="nav-link footerMenuItem">Инвесторам</a>
      </nav>
      <nav class="socialsNav text-right">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
      </nav>
    </div>
  </div>
  <div class="footerBottom">
    <div class="container footerRow align-items-baseline">
      <div>2018 Все права защищены</div>
    </div>
  </div>
</footer>
