<header>
  <div class="container">
    <div class="headerPanel">
      <div class="logoWrap">
        {{#link-to 'account.index' class="logo"}}
          <img src="/images/logo.svg" alt="">
        {{/link-to}}
      </div>
      <div class="headerMenu headerMenu_js">
        <div class="mobileMenuBtn mobileMenuBtn_js"><i class="fa fa-bars" aria-hidden="true"></i></div>
        <div class="menuPanel menuPanel_js"></div>
        <nav class="nav headerNav headerMenu__nav">
          <span class="closeMenu"><span class="icon-cross closeMenu__btn closeMenu__btn_js"></span></span>
          <span class="menuItem">
                  Объекты
									<ul class="headerSubMenu">
                    {{#each objects as |object|}}
                      <li>{{#link-to 'account.subject' object.id}}
                        {{object.name}}
                      {{/link-to}}</li>
                    {{/each}}
                  </ul>
								</span>
          <a class="nav-link menuItem" href="/">Финансы</a>
          <a class="nav-link menuItem" href="/">Настройки</a>
        </nav>
      </div>
      <div class="userInfo">
        <a href="private-office.html">
          <span class="userInfo__name">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            {{user.fullName}}
          </span>
        </a>
        <a href="/">
          <i class="fa fa-power-off" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</header>
