{{core/form-input
  name="Идентификатор"
  placeholder="Цифра, которая написана на корпусе контроллера"
  value=controllerId
  error=controllerIdError
  enter=(action "onSubmitAction")
}}

{{core/form-input
  name="Название"
  placeholder="Например, Контроллер в прихожей"
  value=controllerName
  error=controllerNameError
  enter=(action "onSubmitAction")
}}


<div class="btn btnStyle btnStyle_сolor pull-right margin-top-2x"
     role="button"
     onclick={{action "onSubmitAction"}}>
  Добавить
</div>
