{{! template-lint-disable no-inline-styles }}
{{core/image-component name="logo-black" class="logo"}}
<div class="popupForm">
  {{core/form-input
    name="E-mail"
    value=username
    error=usernameError
  }}
  {{core/form-input
    name="Пароль"
    type="password"
    value=password
    error=passwordError
  }}
  <button class="btn btnStyle btnStyle_сolor popupEnterBtn" onClick={{action "onLoginClickAction"}}>
    Войти
  </button>
</div>
