{{#if isLoading}}
  {{core/loader-component class="vp-height vp-width h-center v-center"}}
{{else}}
  <div class="vp-height v-center">
    {{forms/sign-in class="vp-width h-center"
                    error=logInError
                    onLogIn=(action "onLogInAction")
    }}

    {{#if supportRegistration}}
      {{#link-to 'auth.sign-up' class="default text-center margin-top-3x"}}
        {{t "auth.registration"}}
      {{/link-to}}
    {{/if}}
  </div>
{{/if}}
