$btn-neutral-bg-start: rgb(120, 160, 159);
$btn-neutral-bg-end: rgb(97, 136, 135);
$btn-neutral-color: white;

$btn-warning-bg-start: rgb(172, 23, 35);
$btn-warning-bg-end: rgb(155, 6, 26);
$btn-warning-hov-bg-start: rgb(190, 24, 24);
$btn-warning-hov-bg-end: rgb(179, 8, 8);
$btn-warning-color: white;

$btn-ok-bg-start: rgb(23, 172, 166);
$btn-ok-bg-end: rgb(6, 155, 151);
$btn-ok-hov-bg-start: rgb(24, 190, 185);
$btn-ok-hov-bg-end: rgb(8, 179, 173);
$btn-ok-color: white;

$mark-ok-background: rgb(14, 188, 186);
$mark-ok-color: white;
$mark-error-background: rgb(188, 14, 14);
$mark-error-color: white;
$object-card-header-ok-background: rgba(158, 214, 183, 0.85);
$object-card-header-error-background: rgba(214, 158, 158, 0.85);
$object-card-header-color: rgb(27, 27, 27);
$object-card-body-background: white;
$object-card-footer-background: rgb(230, 236, 236);

$font-inactive-color: rgb(141, 141, 141);

// Fonts

