body {
  overflow: hidden;
  padding: 0;
  margin: 0;

  font-family: $font-base-family;
  font-size: $font-base-size;
}

input {
  box-sizing: border-box;
}

.btn {
  user-select: none;

  display: inline-block;
  padding: 7px 40px;
  margin-bottom: 0;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  outline: none;

  &-neutral {
    color: $btn-neutral-color;
    background: linear-gradient($btn-neutral-bg-start, $btn-neutral-bg-end);
    text-decoration: none;

    &:hover {
      color: $btn-neutral-color;
      background: linear-gradient($btn-neutral-bg-start, $btn-neutral-bg-end);
      text-decoration: underline;
    }
  }

  &-warning {
    color: $btn-warning-color;
    background: linear-gradient($btn-warning-bg-start, $btn-warning-bg-end);
    text-decoration: none;

    &:hover {
      color: $btn-warning-color;
      background: linear-gradient($btn-warning-hov-bg-start, $btn-warning-hov-bg-end);
      text-decoration: none;
    }
  }

  &-ok {
    color: $btn-ok-color;
    background: linear-gradient($btn-ok-bg-start, $btn-ok-bg-end);
    text-decoration: none;

    &:hover {
      color: $btn-ok-color;
      background: linear-gradient($btn-ok-hov-bg-start, $btn-ok-hov-bg-end);
      text-decoration: none;
    }
  }

  &-disabled {
    color: white;
    background: gray;
    cursor: default;

    &:hover {
      //background: red;
    }
  }
}
