.input {
  @extend .text-default;
  border-width: 1px;
  border-style: solid;
  border-radius: $grid-step;
  padding-left: $grid-step;
  height: $grid-step * 4;

  &-default {
    border-color: lightgray;
  }

  &-danger {
    border-color: red;
  }
}
