._layout {
  display: flex;
  flex-direction: column;
}

.v {
  &-center {
    @extend ._layout;
    justify-content: center;
  }

  &-top {
    @extend ._layout;
    justify-content: flex-start;
  }

  &-bottom {
    @extend ._layout;
    justify-content: flex-end;
  }
}

.h {
  &-center {
    @extend ._layout;
    align-items: center;
  }

  &-left {
    @extend ._layout;
    align-items: flex-start;
  }

  &-right {
    @extend ._layout;
    align-items: flex-end;
  }
}
