$menu-background: rgb(32, 37, 45);
$menu-content-padding: $grid-step * 2;
$menu-header-logo-margin: $grid-step * 2;
$menu-header-height: $grid-step * 8;

.menu-header-height {
  height: $menu-header-height;
}

.menu {
  background: $menu-background;
  color: whitesmoke;

  &__head {
    height: $menu-header-height;
  }

  &__logo {
    height: $grid-step * 5;
  }

  &__header {
    height: $menu-header-height;
    border-bottom: 1px solid gray;
  }

  &__user-control {
    width: $grid-step * 30;
  }
}
