body {
  font-size: $font-base-size;
}

.no-wrap {
  text-wrap: none;
}

.text {
  &-bubble {
    display: inline-block;
    padding: 2px 7px;
    border-radius: 50px;
    font-style: normal;

    color: white;
    background: rgb(14, 188, 186);
  }

  &-caption {
    font-size: $font-large-size;
  }

  &-center {
    text-align: center;
  }

  &-default {
    color: #333;
    font-size: $grid-step * 2;
    line-height: $grid-step * 2;
  }

  &-dangerous {
    color: #ab0000;
  }

  &-muted {
    color: gray;
  }

  &-small {
    font-size: $grid-step * 1.5;
    line-height: $grid-step * 2;
  }

  &-white {
    color: white;
  }

  @each $value in capitalize, lowercase, uppercase {
    &-#{ $value } {
      text-transform: $value;
    }
  }

  @each $value in bold, italic {
    &-#{ $value } {
      font-weight: $value;
    }
  }
}
