$base-font-family: Arial, Helvetica, sans-serif;
$small-font-size: $v-step * 1;
$base-font-size: $grid-step * 2;
$large-font-size: $grid-step * 3;

body {
  font-size: $base-font-size;
}

.no-wrap {
  text-wrap: none;
}

.text-caption {
  font-size: $large-font-size;
}

.text-center {
  text-align: center;
}

.text-default {
  color: #333;
}

.text-dangerous {
  color: #ab0000;
}

.text-muted {
  color: gray;
}

.text-white {
  color: white;
}

.text-bubble {
  display: inline-block;
  padding: 2px 7px;
  border-radius: 50px;
  font-style: normal;

  color: rgb(255, 255, 255);
  background: rgb(14, 188, 186);
}
