$base-font-family: Arial, Helvetica, sans-serif;
$small-font-size: $v-step * 1;
$base-font-size: $grid-step * 2;
$large-font-size: $grid-step * 3;

body {
  font-size: $base-font-size;
}

.text-caption {
  font-size: $large-font-size;
}

.text-center {
  text-align: center;
}

.text-default {
  color: #333;
}

.text-muted {
  color: gray;
}

.text-white {
  color: white;
}
