<div class="row">
  {{page-caption text=model.company.name class="col-12"}}
</div>
<div class="row cardStyle block">
  {{core/table-component
    data=model.clients
    columns=(array
      (hash
        label=(t "car.owner_name")
        path="ownerName"
      )
      (hash
        label=(t "car.model")
        path="model"
      )
      (hash
        label=(t "car.status")
        path="status"
      )
      (hash
        label=(t "car.owner_phone")
        path="ownerPhone"
      )
    )
    onRowClick=(action "onCarClick")
  }}
</div>
