<div class="grid-static full-width">
  {{#each model as |object|}}
    {{object-card object=object}}
  {{/each}}
</div>

{{#if showAddModal}}
  {{modals/add-object
    onClose=(action 'set' 'showAddModal' false)
    onAdd=(action 'onAddObjectAction')
  }}
{{/if}}
