<div class="container">
  <div class="row align-items-center page__title">
    {{page-caption text="Мои объекты" icon="icon-diagram" class="col-md-8"}}
    <div class="col-md-4 text-right">
      <button class="btn btnStyle btnStyle_сolor" {{action "showAddObject"}}>Добавить объект</button>
    </div>
  </div>

  {{#if bShowAddObject}}
    {{modals/add-object
      loading=bLoadingAddObject
      onAdd=(action "onAddObjectAction")
      onClose=(action "hideAddObject")
    }}
  {{/if}}

  <div class="row havings">
    {{#each model as |object|}}
      {{object-card object=object}}
    {{/each}}
  </div>
</div>
