<div class="container">
  <div class="row">
    {{page-caption text=model.name icon="icon-home" class="col-md-8"}}
  </div>
  <div class="row havings">
    {{#each model.sensors as |sensor|}}
      {{sensor-card sensor=sensor}}
    {{/each}}
  </div>
</div>
