<div class="row align-items-center">
  {{#page-caption text=model.name icon="home" class="col-12"}}
  {{/page-caption}}
</div>

<div class="row havings">
  {{#if model.sensors.length}}
    {{#each (sort-by "typeName" model.sensors) as |sensor|}}
      {{sensor-card sensor=sensor}}
    {{/each}}
  {{else}}
    <div class="text-center text-muted full-width margin-top-2x">
      В этом объекте нет ни одного сенсора. Возможно, вы подключили тестовый контроллер?
    </div>
  {{/if}}
</div>

