@keyframes card-appearance {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
  }
}

.head {
  border-bottom: solid #dddddd 1px;
  background-color: #f9f9f9;
}

.card {
  text-align: left;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.75);
  background: $object-card-body-background;

  transition: all 200ms;
  animation: card-appearance 200ms ease-out;

  &.clickable {
    &:hover {
      box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.75);
    }
  }
}

