{{#modals/modal-component
  title="Добавить контролер"
  onClose=(action "onCloseAction")
  loading=attrs.loading
  width=4
}}
  {{core/form-input
          name="Mac-адрес"
          value=macAddress
          isValid=isValidMacAddress
          error="Неверный mac-адрес"
          loading=attrs.loading
          enter=(action "onAddClickAction")
  }}

  <div class="clearfix">
    <div class="btn btnStyle btnStyle_сolor pull-right margin-top-2x"
         role="button"
         onclick={{action "onAddClickAction"}}>
      Добавить
    </div>
  </div>
{{/modals/modal-component}}
