{{#modals/modal-component
  title="Добавить контролер"
  onClose=(action "onCloseAction")
  loading=attrs.loading
  width=4
}}
  <div class="text-default margin-bottom-1x">
    Mac-адрес:
  </div>
  {{input class=(concat "full-width input input-" (if isValidMacAddress "default" "danger"))
          value=macAddress
          loading=attrs.loading
          enter=(action "onAddClickAction")
  }}

  <div class="clearfix">
    <div class="btn btnStyle btnStyle_сolor pull-right margin-top-2x"
         role="button"
         onclick={{action "onAddClickAction"}}>
      Добавить
    </div>
  </div>
{{/modals/modal-component}}
