{{#modals/modal-component
  title="Активировать новый контроллер"
  onClose=(action "onCloseAction")
  loading=attrs.loading
  width=4
}}
  {{core/form-input
          name="Идентификатор контроллера"
          value=controllerId
          isValid=isValidcontrollerId
          error="Должен состоять только из цифр"
          enter=(action "onAddClickAction")
  }}

  <div class="clearfix">
    <div class="btn btnStyle btnStyle_сolor pull-right margin-top-2x"
         role="button"
         onclick={{action "onAddClickAction"}}>
      Добавить
    </div>
  </div>
{{/modals/modal-component}}
