{{#modals/modal-component className="col-xs-12 col-md-8 col-lg-6"
                          title="Добавить объект"
                          onClose=(action "onCloseAction")
                          loading=attrs.loading
}}
  {{core/form-input
    name="Имя"
    value=name
    isValid=true
    enter=(action "onAddClickAction")
  }}

  <div class="clearfix">
    <button class="btnStyle btnStyle_сolor margin-top-2x pull-right" {{action "onAddClickAction"}}>Добавить</button>
  </div>
{{/modals/modal-component}}
