{{#modals/modal-component
  title="Добавить объект"
  onClose=(action "onCloseAction")
  loading=attrs.loading
  width=4
}}

  {{core/form-input
          name="Имя"
          value=name
          isValid=true
          enter=(action "onAddClickAction")
  }}

  <div class="clearfix">
    <button class="btnStyle btnStyle_сolor margin-top-2x pull-right" {{action "onAddClickAction"}}>Добавить</button>
  </div>
{{/modals/modal-component}}
