{{#modals/modal-component className="col-xs-12 col-md-8 col-lg-6"
                          title="Активировать новый контроллер"
                          onClose=(action "onCloseAction")
                          loading=attrs.loading
}}
  {{core/form-input
    name="Идентификатор контроллера"
    value=controllerId
    isValid=isValidcontrollerId
    error="Должен состоять только из цифр"
    enter=(action "onAddClickAction")
  }}

  <div class="clearfix">
    <div class="btn btnStyle btnStyle_сolor pull-right margin-top-2x"
         role="button"
         onclick={{action "onAddClickAction"}}>
      Добавить
    </div>
  </div>
{{/modals/modal-component}}
