{{#modals/modal-component className="col-xs-12 col-md-8"
                          title="Активация сенсоров"
                          onClose=(action "onCloseAction")
                          loading=attrs.loading
}}
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Порт</th>
      <th>Название</th>
      <th>Тип</th>
      <th>Оператор</th>
    </tr>
    </thead>
    <tbody>
    {{#each sensors as |sensor|}}
      <tr>
        <td><input type="checkbox" checked/></td>
        <td>MBUS</td>
        <td>{{sensor.name}}</td>
        <td>
          <select class="form-control full-width">
            <option selected>{{sensor.name}}</option>
          </select>
        </td>
        <td><u class="clickable">{{sensor.serviceCompany.name}}</u></td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  <p class="text-muted">Если вы не видите в списке какое-то устройство, проверьте, включено ли оно и нажмите на кнопку
    обновить. Иначе попробуйте подключить его после на странице объекта.
  </p>
  <button class="btnStyle btnStyle_сolor pull-right" {{action "onActivateAction"}}>Активировать</button>
{{/modals/modal-component}}
