$control-padding-h: $grid-step;
$control-padding-v: $grid-step;
$control-height: $menu-header-height - 2 * $control-padding-v;
$control-width: $grid-step * 30;
$avatar-r-margin: $grid-step;
$avatar-size: $grid-step * 6;
$border-line: 1px;

$user-menu-width: $grid-step * 20;

.container {
  display: flex;
  align-items: center;

  height: $control-height;
  padding: $control-padding-h $control-padding-v;
}

.avatar {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  border: white $border-line solid;
}

.array {
  width: $grid-step * 2;
}

.user-menu {
  transition: transform ease-in-out 50ms;

  &__visible {
    display: block;
  }

  &__hidden {
    display: none;
  }
}

.hidden {
  border: 2px blue dotted;
  opacity: 0;
}

$menu-background-color: $object-card-footer-background;
$menu-right-strip: #2D8889;
$menu-item-hover-background-color: darken($menu-background-color, 40);
$menu-item-hover-strip: #186c65;

$menu-item-height: $grid-step * 2;

.menu-container {
  position: absolute;
  right: $grid-step * 3;

  background-color: $menu-background-color;
  color: $object-card-header-color;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);

  text-align: right;
  overflow: hidden;

  font-size: $base-font-size;
  font-family: $base-font-family;

  z-index: 999;
}

.menu-item {
  display: block;
  user-select: none;

  padding: $grid-step;
  height: $menu-item-height;
  width: $grid-step * 18;
  border-right: 3px solid $menu-right-strip;
  border-bottom: 1px solid #cbcbcb;
  text-decoration: none;
  color: #333;

  cursor: pointer;

  &:hover {
    background-color: $menu-item-hover-background-color;
    border-right-color: $menu-item-hover-strip;
    color: $mark-ok-color;
  }
}
