& {
  @extend .col-lg-4;
  @extend .col-md-4;
  @extend .col-sm-12;
}

.sensor-header {
  display: flex;
  flex-direction: row;
  padding-bottom: $grid-step * 2;
}

.title {
  flex: 1;
}

.text-caption {
  line-height: 1.2em;
}

.sensor-icon {
  height: $grid-step * 3;
  margin-right: $grid-step;
  margin-bottom: $grid-step;

  align-self: center;
}
