.sensor {
  &__payment-forecast {
    color: #8D8D8D;
  }

  &__bar-chart {
    height: 2px;
    width: 100%;
    background: #000;
  }

  display: flex;
  flex-direction: column;

  &__tooltip {
    align-self: center;
    height: $grid-step * 3;
    margin-top: $grid-step;
  }

  &__body {
    flex: 1;

    padding: 0 $grid-step $grid-step;
  }

  &__amount {
    height: $grid-step * 3;
  }

  &__footer {
    align-self: flex-end;
    width: 100%;
    padding: 0 $grid-step;
    box-sizing: border-box;
    background: #E6ECEC;
  }
}

.header {
  padding: $grid-step 0;
  color: $object-card-header-color;
  background: $object-card-header-ok-background;
  box-sizing: border-box;
  height: 100%;

  &__title {
    margin-bottom: $grid-step;
    height: $grid-step * 4;
    white-space: nowrap;
  }
}

.header-wrapper {
  background-size: cover;
  background-image: url('http://europeya.ru.opt-images.1c-bitrix-cdn.ru/upload/medialibrary/78e/78e62266dbe348925c434101403e1219.jpg?1481011582195555');
  background-clip: border-box;
  background-position: center;
  overflow: hidden;

  height: $grid-step * 10;
}

