<div class="form-group">
  <label>{{name}}:</label>
  {{input class=(concat "form-control form-field " (if wasFocused (if isValid "is-valid" "is-invalid")))
          type=type
          value=value
          placeholder=placeholder
          enter=(action "onEnterAction")
          focus-out=(action "focusOutAction")
  }}
  {{#if wasFocused}}
    {{#unless isValid}}
      <small class="invalid-feedback">{{error}}</small>
    {{/unless}}
  {{/if}}
</div>