<div class="plus col-{{attrs.width}} full-height v-center h-center padding-1x">
  {{core/icon-component
    class="icon margin-1x"
    name="plus"
  }}
  <div class="text text-caption text-muted">
    {{attrs.text}}
  </div>
</div>