{{#cards/card-component class=containerClass noCover=true clickable=true}}
  {{core/icon-component
    class="icon margin-1x"
    name="plus"
  }}
  <div class="text text-caption text-muted">
    {{attrs.text}}
  </div>
{{/cards/card-component}}