{{#cards/card-component title="Change password" class="col-5"}}
  <div class="padding-2x">
    <div class="margin-left-1x margin-bottom-1x">Old Password:</div>
    {{input class="input input-default full-width" type="password" value=currentPassword}}
    <div class="margin-1x">New Password:</div>
    {{input class="input input-default full-width" type="password" value=newPassword}}
    <div class="margin-1x">New Password Again:</div>
    {{input class="input input-default full-width" type="password" value=newPasswordAgain}}
    <button class="btn {{if canSave "btn-ok" "btn-disabled"}} margin-top-1x">
      Save
    </button>
  </div>
{{/cards/card-component}}
