{{#cards/card-component title="Deactivate Account" class="col-3"}}
  <div class="h-center">
    <button class="btn btn-warning margin-1x"
            onclick={{action "deactivateBtnClickAction"}}
    >
      Deactivate Account
    </button>
  </div>
{{/cards/card-component}}
