<div class="layout v-center h-center vp-height text-muted">
  {{core/icon-component name="5xx-error" class="height-9x margin-bottom-2x"}}
  <div class="text-caption text-center">Случилось что-то плохое, прости...</div>
  <div>Скоро всё починим.</div>

  <button class="btn btnStyle btnStyle_сolorless margin-top-3x" onclick={{action "onRefreshButtonClickAction"}}>
    Обновить
  </button>
</div>
