<div class="layout v-center h-center vp-height text-muted">
  <img src="https://dailynous.com/wp-content/uploads/2016/10/poop-emoji-frown-300x300.png">
  <div>Случилось что-то непоправимое, прости...</div>
  <div>Скоро всё починим.</div>
</div>
