<div class="fixed vp-width h-center v-center margin-top-3x overflow-hidden" style="height: 25%;">
  {{core/image-component name='logo-black' style="height: 20%"}}
</div>
<div class="vp-height vp-width v-center h-center">
  {{outlet}}
</div>